body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-30px;
  width:791px;
  height:715px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:29px;
  width:731px;
  height:655px;
  display:flex;
}
#u996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:732px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:732px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.85;
}
#u997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-15px;
  width:380px;
  height:450px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:116px;
  width:360px;
  height:430px;
  display:flex;
  text-align:center;
}
#u998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:335px;
  width:18px;
  height:16px;
  display:flex;
}
#u1000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:10px;
  -moz-box-shadow:0px 10px 15px rgba(2, 125, 180, 0.101960784313725);
  -webkit-box-shadow:0px 10px 15px rgba(2, 125, 180, 0.101960784313725);
  box-shadow:0px 10px 15px rgba(2, 125, 180, 0.101960784313725);
  text-align:center;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:116px;
  width:767px;
  height:471px;
  display:flex;
  text-align:center;
}
#u1001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  letter-spacing:0.5px;
  color:#00A199;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:209px;
  width:30px;
  height:19px;
  display:flex;
  font-size:14px;
  letter-spacing:0.5px;
  color:#00A199;
}
#u1004 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1004_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1005_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:229px;
  width:300px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u1005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1005_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u1005.disabled {
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  letter-spacing:0.5px;
  color:#00A199;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:289px;
  width:30px;
  height:19px;
  display:flex;
  font-size:14px;
  letter-spacing:0.5px;
  color:#00A199;
}
#u1007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1008_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 0, 18, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#333333;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:309px;
  width:300px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#333333;
}
#u1008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1008_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 0, 18, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#333333;
}
#u1008.disabled {
}
#u1009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:-355px;
  top:339px;
  width:51px;
  height:19px;
  display:flex;
  font-size:10px;
  color:#999999;
}
#u1009 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1009_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:-600px;
  top:320px;
  width:10px;
  height:10px;
  display:flex;
}
#u1010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:-588px;
  top:320px;
  width:10px;
  height:10px;
  display:flex;
}
#u1011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:-329px;
  top:317px;
  width:18px;
  height:13px;
  display:flex;
}
#u1013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:-576px;
  top:320px;
  width:10px;
  height:10px;
  display:flex;
}
#u1014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:-564px;
  top:320px;
  width:10px;
  height:10px;
  display:flex;
}
#u1015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:-552px;
  top:320px;
  width:10px;
  height:10px;
  display:flex;
}
#u1016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#E80000;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:341px;
  width:51px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#E80000;
}
#u1017 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1017_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:-634px;
  top:413px;
  width:360px;
  height:115px;
  display:flex;
}
#u1018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1019 label {
  left:0px;
  width:100%;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:369px;
  width:108px;
  height:19px;
  display:flex;
  font-size:14px;
  color:#555555;
}
#u1019 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1019_img.selected {
}
#u1019.selected {
}
#u1019_img.disabled {
}
#u1019.disabled {
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:92px;
  word-wrap:break-word;
  text-transform:none;
}
#u1019_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:29px;
  background:inherit;
  background-color:rgba(3, 110, 183, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 142, 221, 1);
  border-radius:2px;
  -moz-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:2px 2px 3px rgba(0, 0, 0, 0.0470588235294118);
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:-550px;
  top:438px;
  width:194px;
  height:29px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1020 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 30px 5px 30px;
  box-sizing:border-box;
  width:100%;
}
#u1020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(3, 110, 183, 0.803921568627451);
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:-514px;
  top:485px;
  width:121px;
  height:16px;
  display:flex;
  font-size:12px;
  color:rgba(3, 110, 183, 0.803921568627451);
}
#u1021 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1021_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:116px;
  width:767px;
  height:45px;
  display:flex;
}
#u1022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:35px;
  height:47px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:65px;
  width:15px;
  height:27px;
  display:flex;
}
#u1026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:43px;
  height:47px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:65px;
  width:23px;
  height:27px;
  display:flex;
}
#u1027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:47px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:65px;
  width:24px;
  height:27px;
  display:flex;
}
#u1028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:47px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:65px;
  width:24px;
  height:27px;
  display:flex;
}
#u1029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:47px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:65px;
  width:24px;
  height:27px;
  display:flex;
}
#u1030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1031_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:47px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:65px;
  width:5px;
  height:27px;
  display:flex;
}
#u1031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:47px;
  height:47px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:65px;
  width:27px;
  height:27px;
  display:flex;
}
#u1032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:47px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:65px;
  width:24px;
  height:27px;
  display:flex;
}
#u1033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:64px;
  width:32px;
  height:32px;
  display:flex;
  -webkit-transform:rotate(-10.7312296077753deg);
  -moz-transform:rotate(-10.7312296077753deg);
  -ms-transform:rotate(-10.7312296077753deg);
  transform:rotate(-10.7312296077753deg);
}
#u1035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:41px;
  height:45px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:63px;
  width:20px;
  height:24px;
  display:flex;
}
#u1038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:37px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:60px;
  width:12px;
  height:16px;
  display:flex;
}
#u1039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:40px;
  height:31px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:87px;
  width:20px;
  height:11px;
  display:flex;
}
#u1040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:36px;
  height:36px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:76px;
  width:16px;
  height:16px;
  display:flex;
}
#u1041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:58px;
  height:58px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:60px;
  width:38px;
  height:38px;
  display:flex;
}
#u1042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#036EB7;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:128px;
  width:65px;
  height:21px;
  display:flex;
  color:#036EB7;
}
#u1044 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1044_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:131px;
  width:15px;
  height:15px;
  display:flex;
}
#u1045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:185px;
  width:73px;
  height:24px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1046 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1046_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:219px;
  width:687px;
  height:308px;
  display:flex;
  line-height:28px;
}
#u1047 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(255, 255, 255, 0.603921568627451);
  text-align:center;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:661px;
  width:153px;
  height:30px;
  display:flex;
  font-size:12px;
  color:rgba(255, 255, 255, 0.603921568627451);
  text-align:center;
}
#u1049 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1049_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:185px;
  height:20px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:634px;
  width:181px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1050 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1050_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
