body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-30px;
  width:791px;
  height:715px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:29px;
  width:731px;
  height:655px;
  display:flex;
}
#u671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:715px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:715px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.85;
}
#u672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-15px;
  width:380px;
  height:450px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:116px;
  width:360px;
  height:430px;
  display:flex;
  text-align:center;
}
#u673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:335px;
  width:18px;
  height:16px;
  display:flex;
}
#u675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:454px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:10px;
  -moz-box-shadow:0px 10px 15px rgba(2, 125, 180, 0.101960784313725);
  -webkit-box-shadow:0px 10px 15px rgba(2, 125, 180, 0.101960784313725);
  box-shadow:0px 10px 15px rgba(2, 125, 180, 0.101960784313725);
  text-align:center;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:116px;
  width:767px;
  height:454px;
  display:flex;
  text-align:center;
}
#u676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  letter-spacing:0.5px;
  color:#00A199;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:209px;
  width:30px;
  height:19px;
  display:flex;
  font-size:14px;
  letter-spacing:0.5px;
  color:#00A199;
}
#u679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u679_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u680_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:229px;
  width:300px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u680_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u680.disabled {
}
#u681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  letter-spacing:0.5px;
  color:#00A199;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:289px;
  width:30px;
  height:19px;
  display:flex;
  font-size:14px;
  letter-spacing:0.5px;
  color:#00A199;
}
#u682 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u682_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u683_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 0, 18, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#333333;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:309px;
  width:300px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#333333;
}
#u683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u683_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 0, 18, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#333333;
}
#u683.disabled {
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:-355px;
  top:339px;
  width:51px;
  height:19px;
  display:flex;
  font-size:10px;
  color:#999999;
}
#u684 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u684_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:-600px;
  top:320px;
  width:10px;
  height:10px;
  display:flex;
}
#u685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:-588px;
  top:320px;
  width:10px;
  height:10px;
  display:flex;
}
#u686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:-329px;
  top:317px;
  width:18px;
  height:13px;
  display:flex;
}
#u688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:-576px;
  top:320px;
  width:10px;
  height:10px;
  display:flex;
}
#u689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:-564px;
  top:320px;
  width:10px;
  height:10px;
  display:flex;
}
#u690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:-552px;
  top:320px;
  width:10px;
  height:10px;
  display:flex;
}
#u691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#E80000;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:341px;
  width:51px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#E80000;
}
#u692 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u692_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:-634px;
  top:413px;
  width:360px;
  height:115px;
  display:flex;
}
#u693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u694 label {
  left:0px;
  width:100%;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:-604px;
  top:369px;
  width:108px;
  height:19px;
  display:flex;
  font-size:14px;
  color:#555555;
}
#u694 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u694_img.selected {
}
#u694.selected {
}
#u694_img.disabled {
}
#u694.disabled {
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:92px;
  word-wrap:break-word;
  text-transform:none;
}
#u694_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:29px;
  background:inherit;
  background-color:rgba(3, 110, 183, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 142, 221, 1);
  border-radius:2px;
  -moz-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:2px 2px 3px rgba(0, 0, 0, 0.0470588235294118);
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:-550px;
  top:438px;
  width:194px;
  height:29px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u695 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 30px 5px 30px;
  box-sizing:border-box;
  width:100%;
}
#u695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(3, 110, 183, 0.803921568627451);
}
#u696 {
  border-width:0px;
  position:absolute;
  left:-514px;
  top:485px;
  width:121px;
  height:16px;
  display:flex;
  font-size:12px;
  color:rgba(3, 110, 183, 0.803921568627451);
}
#u696 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u696_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:116px;
  width:767px;
  height:45px;
  display:flex;
}
#u697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.603921568627451);
  text-align:center;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:644px;
  width:157px;
  height:30px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.603921568627451);
  text-align:center;
}
#u698 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 0px;
  box-sizing:border-box;
  width:100%;
}
#u698_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:185px;
  height:20px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:617px;
  width:181px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u699 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u699_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:35px;
  height:47px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:65px;
  width:15px;
  height:27px;
  display:flex;
}
#u703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:43px;
  height:47px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:65px;
  width:23px;
  height:27px;
  display:flex;
}
#u704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:47px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:65px;
  width:24px;
  height:27px;
  display:flex;
}
#u705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:47px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:65px;
  width:24px;
  height:27px;
  display:flex;
}
#u706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:47px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:65px;
  width:24px;
  height:27px;
  display:flex;
}
#u707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:47px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:65px;
  width:5px;
  height:27px;
  display:flex;
}
#u708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:47px;
  height:47px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:65px;
  width:27px;
  height:27px;
  display:flex;
}
#u709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:47px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:65px;
  width:24px;
  height:27px;
  display:flex;
}
#u710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
}
#u712 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:64px;
  width:32px;
  height:32px;
  display:flex;
  -webkit-transform:rotate(-10.7312296077753deg);
  -moz-transform:rotate(-10.7312296077753deg);
  -ms-transform:rotate(-10.7312296077753deg);
  transform:rotate(-10.7312296077753deg);
}
#u712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:41px;
  height:45px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:63px;
  width:20px;
  height:24px;
  display:flex;
}
#u715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:37px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:60px;
  width:12px;
  height:16px;
  display:flex;
}
#u716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:40px;
  height:31px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:87px;
  width:20px;
  height:11px;
  display:flex;
}
#u717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:36px;
  height:36px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:76px;
  width:16px;
  height:16px;
  display:flex;
}
#u718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:58px;
  height:58px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:60px;
  width:38px;
  height:38px;
  display:flex;
}
#u719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#036EB7;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:128px;
  width:65px;
  height:21px;
  display:flex;
  color:#036EB7;
}
#u721 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u721_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:131px;
  width:15px;
  height:15px;
  display:flex;
}
#u722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:185px;
  width:91px;
  height:24px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u723 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u723_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:40px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:224px;
  width:687px;
  height:40px;
  display:flex;
  text-align:left;
}
#u724 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:113px;
  background:inherit;
  background-color:rgba(204, 197, 185, 0.145098039215686);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.0156862745098039) inset;
  -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.0156862745098039) inset;
  box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.0156862745098039) inset;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:264px;
  width:687px;
  height:113px;
  display:flex;
}
#u725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:40px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:377px;
  width:687px;
  height:40px;
  display:flex;
  text-align:left;
}
#u726 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:40px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:417px;
  width:687px;
  height:40px;
  display:flex;
  text-align:left;
}
#u727 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:40px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:457px;
  width:687px;
  height:40px;
  display:flex;
  text-align:left;
}
#u728 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:40px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:497px;
  width:687px;
  height:40px;
  display:flex;
  text-align:left;
}
#u729 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#686963;
  line-height:23px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:275px;
  width:491px;
  height:92px;
  display:flex;
  font-size:14px;
  color:#686963;
  line-height:23px;
}
#u730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u730_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
